*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --card-team-gap: 30px;
  --card-projects-gap: 30px;
  --main-brand-color: #2196f3;
  --sekond-brand-color: #212121;
  --main-body-color: #ffffff;
  --buttom-second-color: #188ce8;
  --text-main-color: #2f303a;
  --text-sekond-color: #757575;
  --background-second-color: #f5f4fa;
  --background: #e5e5e5;
  --e-adress-color: rgba(225, 225, 225, 0.6);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--sekond-brand-color);
  background-color: var(--main-body-color);
  font-size: 14px;
  /* line-height: 1.14; */
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

.link {
  text-decoration: none;
  padding: 0px;
}
.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  /* padding: 0; */
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  padding-top: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header-navigator {
  margin-right: 50px;
}
.header-navigator:last-child {
  margin-right: 0px;
}

.nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo-header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-brand-color);
  margin-right: 93px;
}

.studio {
  color: var(--sekond-brand-color);
}
.nav-info {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sekond-brand-color);
}
.active {
  color: var(--main-brand-color);
}
.nav > li a:hover {
  color: var(--buttom-second-color);
}

.heder-contacts {
  display: flex;
}
.heder-contacts a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-sekond-color);
}
.heder-contacts a:hover {
  color: var(--main-brand-color);
}
.heder-contacts-link + .heder-contacts-link {
  margin-left: 50px;
}
/*.tel::before,
.tel::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: contain;
}
.tel::before,
.tel::after {
  margin-right: 6px;
  background-image: url(/envelope.svg);
}
.mail::before,
.mail::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: contain;
}
.mail::before,
.mail::after {
  margin-right: 6px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/avatars-60/5985/34-Father-512.png");
 } */
.market {
  background-color: var(--text-main-color);
  padding-top: 200px;
  padding-bottom: 200px;
  /* width: 1600px; */
}

.solution {
  text-align: center;
  width: 696px;
  margin: 0px auto;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-body-color);
}
.order {
  display: block;
  margin: 0 auto;
  padding: 10px 32px 10px 32px;
  margin-top: 30px;
  background: var(--main-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  /* text buttom */
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-body-color);
  cursor: pointer;
}
.order:hover {
  background-color: var(--buttom-second-color);
}
.order:focus {
  cursor: progress;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.fors {
  display: flex;
}
.fors-li {
  margin-left: 30px;
  max-width: 270px;
}
.fors-li:first-child {
  margin-left: 0px;
}

.soft-skils {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--sekond-brand-color);
  margin: 0 0 10px 0;
}
.skils {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
  margin: 0;
}
.work {
  padding-top: 0px;
}
.hobby {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  margin-bottom: 50px;
}
.pic {
  display: flex;
}
.img-box {
  margin-right: 30px;
}
.img-box:last-child {
  margin-right: 0px;
}
.team {
  background-color: var(--background-second-color);
}

.mishion {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  margin-bottom: 50px;
}

.team-box {
  display: flex;
  justify-content: center;
}

.team-box > .team-box-unit {
  flex-basis: calc(100% / 4 - var(--card-team-gap));
  margin-left: var(--card-team-gap);
}
.team-box-unit {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-box-unit:first-child {
  margin-left: 0px;
}
.team-box-info {
  padding: 30px 0;
}

.soname {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
}
.job {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
  margin-top: 10px;
}
.grafit {
  background-color: var(--text-main-color);
  padding: 60px 0;
}
.logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-brand-color);
}
.studio-footer {
  color: var(--main-body-color);
}
.footer-contacts-block {
  margin-bottom: 9px;
}
.footer-contacts {
  margin-bottom: 9px;
}
.footer-contacts:last-child {
  margin-bottom: 0;
}
.adress {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
}
.e-adress {
  color: var(--e-adress-color);
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress:hover,
.e-adress:hover,
.e-adress:focus,
.adress:focus {
  color: var(--main-brand-color);
}
.buttom-unit {
  margin-top: 94px;
  margin-bottom: 50px;
}
.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filtr {
  margin: 0 8px 0 0px;
}
.filtr:last-child {
  margin: 0;
}
.menu .link {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  background: var(--background-second-color);
  cursor: pointer;
}
.menu .link:hover,
.link:focus {
  background: var(--main-brand-color);
  color: var(--main-body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.job-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.job-project {
  cursor: pointer;
  flex-basis: calc(100% / 3 - var(--card-projects-gap));
  margin-left: var(--card-projects-gap);
  margin-top: var(--card-projects-gap);
}
.job-project:hover,
.job-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.job-project-box {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.job-project:nth-child(n + 7) {
  margin-bottom: 0px;
}
.job-project:nth-child(-n + 3) {
  margin-top: 0px;
}
.job-project:nth-child(3n) {
  margin-right: 0px;
}
.job-project:nth-child(3n + 1) {
  margin-left: 0px;
}
.job-result {
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.job-title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
}
